#large files to be ignored
#resources
resources/anc_bam/*
!resources/anc_bam/.gitkeep
resources/ref_panel/*
!resources/ref_panel/.gitkeep
resources/ref_genome/*
!resources/ref_genome/.gitkeep
resources/map/*
!resources/map/.gitkeep
#results
*vcf.gz
*vcf.gz.tbi
*vcf.gz.csi
*bcf
*bcf.csi
*bin
#snakemake_timestamp files to be ignored
*.snakemake_timestamp


