#large files to be ignored
#resources
resources/anc_bam/*
resources/gamp/*
resources/ref_panel/*
resources/ref_genome/*
#results
*vcf.gz
*vcf.gz.tbi
*vcf.gz.csi
*bcf
*bcf.csi
*bin
#snakemake_timestamp files to be ignored
*.snakemake_timestamp


